.frase{
border-radius: 35px;
padding: 20px;
text-align: center;
border: #043a04 solid 2px;
}

button{
    padding: 15px;
    font-size: 1.2em;
    border-radius: 5px;
    color: rgb(126, 175, 175);
    font-weight: bold;
    margin: 12px;
    height: 60px;
    background-color: rgb(240, 221, 185);
    
}
.fraseSelect{
    background-color: rgb(126, 175, 175);
}
.fraseNoSelect{
    background-color: white;
}
